/*
* 
* @author Paloma Rangel
* @version 0.1
*/

/* ========================= layout ======================== */
html, body, .capa {
	height: 100%;
	overflow: auto;
}

body {
	background: #d8dce3;
	background-attachment: fixed;
	font-family: 'Ailerons';
    src: url('fonts/ailerons/Ailerons-Typeface.otf');
	overflow-x: hidden;
}

@font-face {
    font-family: 'Ailerons';
    src: url('fonts/ailerons/Ailerons-Typeface.otf');
    font-weight: normal;
    font-style: normal;
}

/* -- Barra de navegação -- */
.logo {
	display: block;
	background-size: contain;
	font-size: 60px;
	text-align: left;
	/*color: transparent;*/
}

nav.navbar-transparente {
	padding: 15px 0px;
	background: #78040b;
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
	color: #9bf0e1;
	background: none;
}

.row {
	padding-top: 100px;
}
/* -- Imagem de capa -- */
.capa {
	display: table;
	width: 100%;
}

.texto-capa {
	text-align: center;
	color: #9d9d9d;
	display: table-cell;
	vertical-align: middle;
}

/* -- Botoes -- */
.btn-custom {
	color: white;
	background-color: #78040b;
	border-radius: 450px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    transition: background 0.4s, color 0.4s;
    font-family: 'Borg'; 
    src: url('fonts/borg/Borg.ttf');
}


.btn-custom:hover {
	background-color: black;
	color: white;
}



/* ========================= Tipografia ======================== */
h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}

/* Media queries */
/* xs < 768 */
@media screen and (max-width: 767px) {
	h1 {
	    font-size: 50px; 
  	}
  	.btn-custom {
    	margin: 10px 15px;
	}
}


